/*POSTS*/

.App{
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    padding-top: 40px;
    flex-direction: column;
  }
  
  body{
    margin: 0;
    padding: 0;
  }
  
  .post {
    width: 400px;
    height: 300px;
    border-radius: 10px;    
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    border: 1px solid lightgray;
    font-family: Arial, Helvetica, sans-serif
  }
  
  .post .title{
    flex: 20%;
    border-bottom: 1px solid lightgray;
    background-color: dodgerblue;
    display: grid;
    place-content: center;
    color: white;
  }

  .post .body{
    flex: 20%;
    display: grid;
    place-content: center;
  }
  
  .post .footer{
    flex: 20%;
    border-top: 1px solid lightgray;
    display: flex;
    place-content: center;
    padding-left: 15px;
    background-color: dodgerblue;
    color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .bi.bi-hand-thumbs-up{
    width: 50px;
    padding: 40px 40px;
  }

  .bi.bi-hand-thumbs-up.red{
    color: red;
  }