/*  TASKS */


.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .create_field input{
    width: 500px;
    padding: 10px;
    border-bottom: 2px solid;
    outline: none;
  }
  
  .create_field button{
    padding: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
  }
  
  .todo-tasks{
    display: flex;
    align-items: center;
    width: 540px;
    justify-content: space-between;
    background-color: black;
    color: white;
    height: 50px;
    padding: 2px 5px 2px 5px;
    margin-top: 15px;
  }
  
  .commentBox {
    margin: 10px 10px;
    background-color: red;
    padding: 4px;
  
  
  }
  
  
  .bi-circle{
    margin-right: 10px;
    background-color: white;
    border-radius: 50px/50px;
  }
  
  .bi-circle-fill{
    margin-right: 10px;
    background-color: red;
    color: red;
    border-radius: 50px/50px;
  }
  